[user]
	name = Douglas Jacobsen
	email = jacobsen.douglas@gmail.com
[core]
	editor = vim
	autocrlf = input
[giggle]
	main-window-maximized = false
	main-window-geometry = 944x754+266+83
	main-window-view = FileView
	file-view-vpane-position = 392
	history-view-vpane-position = 608
[web]
	browser = google-chrome
[alias]
	logg = log --graph --oneline --abbrev-commit --decorate
	export = !sh -c 'git archive ${1} | tar xv -C ${2}' -
[color]
	ui = true
[merge]
	tool = vimdiff
[github]
	user = douglasjacobsen
[push]
	default = current
