[user]
	name = Phillip Wolfram
	email = pwolfram@lanl.gov
[core]
	editor = vim
	autocrlf = input
	whitespace = trailing-space
	excludesfile = ~/.git_core_excludes
[giggle]
	main-window-maximized = false
	main-window-geometry = 944x754+213+24
	main-window-view = HistoryView
	file-view-vpane-position = 392
	history-view-vpane-position = 456
[web]
	browser = google-chrome
[alias]
	logg = log --graph --oneline --abbrev-commit --decorate
	export = !sh -c 'git archive ${1} | tar xv -C ${2}' -
	st = status
	di = difftool --tool=vimdiff --no-prompt
	ci = commit -a
	up = fetch --all -p
	co = checkout
	rb = rebase
	rc = rebase --continue
	rd = !git ls-files -d | xargs git checkout --
	path-br = "!bash -xc \"git checkout -b \"${PWD#${PWD%/*/*}/}\" MPAS-Dev/MPAS/develop\""
[diff]
  tool = vimdiff
[color]
	ui = true
[merge]
	tool = vimdiff
	summary = true
[github]
	user = pwolfram
[push]
	default = current
[http]
	proxy = http://proxyout.lanl.gov:8080
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
